body { font-family: Roboto, sans-serif; }
.main { padding-top: 8vw; }
.verylarge { font-size: 10vw; }
.large { font-size: 4vw; }
.middle { font-size: 2vw; }
.subtext { padding: 32px; }
.footnote { color: #888888; font-size: 12px; }
.footer { padding: 32px; }
.links { padding: 32px; }
.stand { padding-bottom: 16px; }
.fngroup { padding-top: 32px; }
.updateinfo { padding-top: 32px;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index:100;
}

#vaccinationChart {
    padding-bottom: 32px;
}

hr {
    border-top: 2px dashed #dddddd;
}

table {
    border: 2px dashed #dddddd;
    border-radius: 10px;
}

table.footnote {
    border: none;
}

th {
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}

td {
    vertical-align: top;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .verylarge { font-size: 18vw}
    .large { font-size: 8vw}
}
